@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.a-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.fz-22 {
  font-size: 20px !important;
}

.logo {
  font-family: 'Dancing Script', cursive !important;
}

.fz-16 {
  font-size: 16px !important;
}
